name: release
on:
  - workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      IS_RELEASE: 'true'
      COMMITISH: ${{ github.ref_name }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: run mixin auditor
        run: ./gradlew runServerMixinAudit
      - name: build and publish
        run: ./gradlew build publishMods
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/